.container {
  background-color: #1b191a;
}

.button-primary {
  background: #d9b24e !important;
  color: #1b191a;
}

.team-overview {
  background: #d9b24e1c;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  .color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 0.25rem;
    border-radius: 0.5rem;
  }
  p {
    margin: 0;
  }
}

.player-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  gap: 1rem;

  .player-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    background-color: rgb(217 178 78);
    background-image: url(/src/assets/image.png);
    background-size: 150%;
    background-position: center;
    // opacity: 0.7;
    background-blend-mode: color-burn;
  }

  .cross-over {
    position: absolute;
    background: #fff;
    width: 85%;
    height: 2px;
    transform: rotate(-45deg) translate(-2.5rem, 2rem);
  }
}

input {
  border-radius: 0.25rem;
  border: 1px solid #d9b24e;
  outline: none;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  color: #d9b24e;
  background-color: #1b191a;
  width: 90%;
}

input:focus-visible {
  outline: none;
  box-shadow: none;
  border-color: #d9b24e;
}

.title {
  text-transform: uppercase;
  color: #d9b24e;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #d9b24e;
  border-bottom: 1px solid #d9b24e;
  font-size: 2rem;

  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.note {
  color: #d9b24e;
}

.header {
  .user-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    background-color: var(--user-team-color);
    background-image: url(/src/assets/image.png);
    background-size: 150%;
    background-position: center;
    // opacity: 0.7;
    background-blend-mode: color-burn;
  }

  .coins {
    background-image: url(/src/assets/coin.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }

  .victims {
    background-image: url(/src/assets/scull.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
}
